*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Sidebar*/

.list-group li{
    list-style: none;
    padding: 20px;
    margin-top: 25px;
    
}

.list-group li a{
    text-decoration: none;
    color:rgb(201, 153, 153);
    
}

header{
    
    padding: 25px;
  
}

.container{
    width: 20vw;
    height: 100vh;
    background-color: rgb(193, 70, 70);
    position: fixed;
   
}

.list-group li a:hover{
   color: white
}

h2 a{
    text-decoration: none;
    color: white;
}